.messages-div {
    position: absolute;
    top: 25%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.header-messages-div {
    position: absolute;
    left: 22%;
}
