.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.edit-form {
    margin: auto;
    width: 50%;
}

.edit-btn {
    margin: auto;
    width: 50%;
}

.logout-btn {
    margin: auto;
    width: 50%;
}
