input {
    border-radius: 100px;
    background-color: white;
    width: 50vw;
    padding: 12px;
    border-color: white;
    margin-bottom: 12px;
    border-width: 1px;
    border-color: black;
    font-size: 16px;
}

.login-btn {
    border-radius: 100px;
    background-color: #ca2532;
    width: 50vw;
    padding: 12px;
    border: none;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0;
}
