.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
